<%@ Master Language="C#" AutoEventWireup="true"
    CodeBehind="Site.master.cs"
    Inherits="EcommerceWebApp.SiteMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <title>NeoCart</title>

    <asp:ContentPlaceHolder ID="HeadContent"
        runat="server">
    </asp:ContentPlaceHolder>

</head>

<body>

<form runat="server">

    <asp:ContentPlaceHolder ID="MainContent"
        runat="server">
    </asp:ContentPlaceHolder>

</form>

</body>
</html>